# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/
target/
*.class

# Maven
.mvn/
mvnw
mvnw.cmd

# Logs
logs/
*.log

# Temporary files
*.tmp
*.temp
*.bak
*.swp
*.swo

# Operating system files
.DS_Store
Thumbs.db
ehthumbs.db

# Environment variables
.env
*.env

# SQL Scripts
*.local.sql

# Other
*.jar
*.war
*.ear
